<div class="flex h-screen bg-gray-50">
  <div
    id="sidebar"
    class="fixed inset-y-0 left-0 z-30 w-64 overflow-y-auto transform bg-white shadow-lg transition-transform duration-300 lg:static lg:inset-0 lg:translate-x-0 -translate-x-full"
  >
    <div class="flex items-center justify-center mt-8">
      <div class="flex items-center">
        <i style="font-size: 30px" class="bx bxs-book-alt"></i>
        <span class="mx-2 text-2xl font-semibold text-gray-800">Dashboard</span>
      </div>
    </div>

    <nav class="mt-10">
      <a
        class="flex items-center px-6 py-3 text-gray-700  rounded-lg"
        [routerLink]="['/admin', 'dashboard']"
        routerLinkActive="bg-indigo-50"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          routerLinkActive="text-indigo-600"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"
          ></path>
        </svg>
        <span class="mx-3 font-medium"
        routerLinkActive="text-indigo-600"
        >Dashboard</span>
      </a>

      <a
        class="flex items-center px-6 py-3 mt-2 text-gray-600 rounded-lg hover:bg-indigo-50 hover:text-indigo-600"
        [routerLink]="['/admin', 'books']"
        routerLinkActive="bg-indigo-50"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          routerLinkActive="text-indigo-600"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4"
          ></path>
        </svg>
        <span class="mx-3 font-medium"
        routerLinkActive="text-indigo-600"
        >Books</span>
      </a>

      
    </nav>
  </div>

  <div class="flex-1 overflow-auto">
    <header
      class="flex items-center justify-between px-6 py-4 bg-white border-b"
    >
      <div class="flex items-center">
        <button
          id="sidebarToggle"
          class="text-gray-500 focus:outline-none lg:hidden"
        >
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            ></path>
          </svg>
        </button>

        <div class="relative mx-4 lg:mx-0">
          <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <svg
              class="w-5 h-5 text-gray-400"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              ></path>
            </svg>
          </span>
          <input
            class="w-32 pl-10 pr-4 rounded-md form-input sm:w-64 focus:border-indigo-600"
            type="text"
            placeholder="Search"
          />
        </div>
      </div>

      <div class="flex items-center">
        <div class="relative ml-6">
          <button
            (click)="onLogout()"
            type="button"
            class="py-2 px-2 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-500 text-white hover:bg-blue-600 focus:outline-hidden focus:bg-blue-600 disabled:opacity-50 disabled:pointer-events-none"
          >
            Log Out
          </button>
        </div>
      </div>
    </header>

    <main class="p-6">

        <ng-content ></ng-content>

    </main>
  </div>
</div>
